<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>

    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@600&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #0c1027;
            font-family: 'Grenze Gotisch', cursive;
            color: white;
        }

        h2 {
            text-transform: capitalize;
            margin-top: 20%;
            margin-left: 40%;
        }
    </style>
</head>

<body>
    <h2>Page not found 😧</h2>

</body>

</html>