<%- include ('_layouts/header') -%>
<center>




  <div>
    <i class="fa fa-map-marker" style="font-size: x-large;"></i>
    <p style="font-size: medium;">Shop No 304,
      Uttam Nagar, <br> West Delhi,
      New Delhi 110059</p>
  </div>
  <br>
  <div>
    <i style="font-size:x-large;" class="fa fa-phone"></i>
    <p style="font-size: medium;">9874589654, 123456789</p>
  </div>
  <br>
  <div>
    <i style="font-size:x-large;" class="fa fa-envelope"></i>
    <p style="font-size: medium;"><a href="mailto:samir_mal@yahoo.com ">eshop123@yahoo.com </a></p>
    <br>
    <p style="font-size: medium;"> <b>Social Media Links -</b> </p> <a style="text-decoration: none;color: black;"
      href="#"><i style="font-size: x-large;text-decoration: none;" class="fa fa-instagram"></i></a>


  </div>


</center>
<%- include ('_layouts/footer') -%>